<!--h5 class="center animated bounceInLeft">
    Combos Confitería</h5-->

<div class="container center">
    <h4 class="center animated bounceInRight"> Combos Confitería</h4>
    <p class="animated fadeInDown">En Multicines Liberia, las películas vienen acompañadas de mucho sabor… </p>
    <p class="animated fadeInDown">Adquiera desde palomitas (dulces o saladas) hasta nachos, perros calientes, entre otros snacks*, y disfrute de su película. Además, adquiera su bebida* preferida, a escoger entre: gaseosas, té frío de limón, jugos, agua embotellada y más.</p>
    <p class="animated fadeInDown">*Los precios de los alimentos y las bebidas los puede encontrar en la Dulcería.</p>
    <div class="row">
        <div class="col s12 m3">
            <div class="card animated bounceInDown hoverable">
                <div class="card-image">
                    <img class="resposive-img" src="img/combo1.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Refresco de 22 oz</p>
                    <p>Nacho con queso</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card animated bounceInUp hoverable">
                <div class="card-image">
                    <img class="resposive-img" src="img/combo2.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Refresco de 22 oz</p>
                    <p>Nacho con queso</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card animated bounceInDown hoverable">
                <div class="card-image">
                    <img class="resposive-img" src="img/combo5.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Refresco de 22oz </p>
                    <p>Hot dog jumbo</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card animated bounceInUp hoverable">
                <div class="card-image">
                    <img class="resposive-img" src="img/combo4.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Refresco de 22oz </p>
                    <p>Nacho de queso</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card animated bounceInUp hoverable">
                <div class="card-image">
                    <img class="resposive-img" src="img/combo8.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Refresco de 22oz </p>
                    <p>Nacho de queso</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card animated bounceDownUp hoverable">
                <div class="card-image">
                    <img class="resposive-img" src="img/combo9.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Refresco de 22oz </p>
                    <p>Nacho de queso</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card animated bounceInUp hoverable">
                <div class="card-image">
                    <img class="resposive-img" src="img/combo10.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Refresco de 22oz </p>
                    <p>Nacho de queso</p>
                </div>
            </div>
        </div>
    </div>
</div>