<!--h5 class="center animated bounceInLeft">
    Combos Confitería</h5-->

<div class="container center">
    <h5 class="center"> ALIMENTOS & BEBIDAS</h5>
    <p>En Multicines Liberia, las películas vienen acompañadas de mucho sabor… Adquiera desde palomitas (dulces o saladas) hasta nachos, perros calientes, entre otros snacks*, y disfrute de su película. Además, adquiera su bebida* preferida, a escoger entre:
        gaseosas, té frío de limón, jugos, agua embotellada y más.</p>
    <p>*Los precios de los alimentos y las bebidas los puede encontrar en la Dulcería.</p>
    <div class="row">
        <div class="row">
            <div class="col s12 m3">
                <div class="card animated bounceInDown">
                    <div class="card-image">
                        <img class="resposive-img" src="img/combo1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Refresco de 22 oz</p>
                        <p>Nacho con queso</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card animated bounceInUp">
                    <div class="card-image">
                        <img class="resposive-img" src="img/combo2.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Refresco de 22 oz</p>
                        <p>Nacho con queso</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card animated bounceInDown">
                    <div class="card-image">
                        <img class="resposive-img" src="img/combo5.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Refresco de 22oz </p>
                        <p>Hot dog jumbo</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card animated bounceInUp">
                    <div class="card-image">
                        <img class="resposive-img" src="img/combo1.jpg">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Refresco de 22oz </p>
                        <p>Nacho de queso</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>