<style>
    .ocultar {
        opacity: 1;
        max-height: auto;
        overflow: hidden;
        transition: all 5s;
    }
    
    .ocultar.ng-hide {
        opacity: 0;
        max-height: 0px !important;
        overflow: hidden;
        display: block !important;
    }
</style>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h2 class="center animated bounceInUp" style="color: #fff;">Veni a Multicines!!</h2>
            <div class="row center">
                <h5 class="col s12 blue-text animated bounceInRight white-text">La mejor experiencia de cine en Liberia</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light #4a148c purple darken-4">Comprar boleto!</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="img/cine3.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="row">
        <div class="input-field col s12 m6">
            <select>
                <option value="" disabled selected>Selecciona un cine</option>
                <option value="1">Multicines Liberia</option>
                <option value="2">Multicines Tamarindo</option>
            </select>
        </div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate" ng-model="peliSelect">
            <label for="icon_prefix">Buscar pelicula</label>
        </div>
    </div>
    <div ng-show="loading" class="center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="pelis.length > 0" class="ocultar">
        <div class="row">
            <div class="col s12 m4" ng-repeat="peli in pelis | filter: peliSelect">
                <div class="card horizontal hoverable animated bounceInLeft">
                    <div class="card-image">
                        <img src="{{peli.imagenUrl}}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m12 center">
                                    <a href="#"><strong>{{peli.title}}</strong></a>
                                    <p><strong>{{peli.date| date:'MM/dd/yyyy'}}</strong></p>
                                </div>
                                <!--div class="col s12 m12 center">
                            </div>
                            <p><strong>Sinopsis: </strong> {{peli.description}}</p-->
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div>
                                    <a href="#" style="margin: 0"><i class="material-icons left">receipt</i><strong>Comprar</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/cine2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="">
    <div class="row">
        <h5 class="center">Nuestras promociones</h5>
        <hr>
        <div class="col s12 m6">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons" style="color: #ee8a1e">filter_drama</i>Funcion matine</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons" style="color: #4a148c ">today</i>Precio especial</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons" style="color:#f99b37">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
        <div class="col s12 m6">
            <img class="materialboxed responsive-img" width="650" src="./img/preciosweb.png" />
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="row">
        <div class="col s12 right-text">
            <h5>Muy pronto!!</h5>
        </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="img/tama.jpg" alt="Unsplashed background img 3"></div>
</div>
<script>
    $(document).ready(() => {
        $('.materialboxed').materialbox();
        $('select').material_select();
        $('.slider').slider();
        $('.button-collapse').sideNav();
        $('.parallax').parallax();
        $('.collapsible').collapsible('open', 0);

        // Close
        $('.collapsible').collapsible('close', 0);

        // Destroy
        $('.collapsible').collapsible('destroy');
    });
</script>